@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-size: 62.5%;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* Primary */
  --BrightRed: hsl(12, 88%, 59%);
  --DarkBlue: hsl(228, 39%, 23%);
  /* ### Neutral */
  --DarkGrayishBlue: hsl(227, 12%, 61%);
  --VeryDarkBlue: hsl(233, 12%, 13%);
  --VeryPaleRed: hsl(13, 100%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  max-width: 1440px;
  width: 100%;
  font: 1.6rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* background-image: ; */
}
button {
  cursor: pointer;
}
li {
  list-style-type: none;
}
